@import "../../../styles.scss";

::ng-deep .humidity {
  color: $accent-color;
  position: relative;
  top: 5px
}

::ng-deep .windy {
  position: relative;
  top: 5px
}

::ng-deep .forecast-table {
  position: relative;
  top: 5px
}



.hourly-table {
  width: 70%;
  border-radius: 20px;
}

.hourly-wrapper {
  display:flex;
  justify-content: center;
  margin: 15px;
}

.hourly-title {
  font-family: "Heebo", sans-serif !important;
  font-size: xx-large;
  font-weight: 600;
}

.date-title {
  font-family: "Heebo", sans-serif !important;
  font-size: large;
  font-weight: 500;
}

.table-content {
  box-shadow: none;
}