<mat-toolbar class="title-bar">
    <mat-toolbar-row class="top-title-selection">
        <div class="left-selection-item" [routerLink]="['/dashboard']">
            <img class="title-image" src="assets/logo.svg"/>
            <span class="title-route genos">{{ title }}</span>
        </div>
        <div class="search-form">
            <input type="text" class="round" placeholder="(Zip/Location)">
        </div>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon class="right-selection-item">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-flat-button [routerLink]="['/dashboard']">Dashboard</button>
        </mat-menu>
    </mat-toolbar-row>
    <mat-toolbar-row class="title-selection fira-code title-coloring">
        <nav class="title-selection-item" mat-tab-nav-bar [tabPanel]="tabPanel">
            <a
                mat-tab-link
                *ngFor="let link of navLinks"
                routerLink="{{ link.link }}"
                routerLinkActive
                #rla="routerLinkActive"
                [active]="rla.isActive"
            >{{link.label}}</a>
        </nav>
        <mat-tab-nav-panel #tabPanel>
            <router-outlet></router-outlet>
        </mat-tab-nav-panel>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
