@import '../styles.scss';

.title-image {
    width: 50px;
    height: 32px;
    margin-top: 5px;
    color: white;
    filter: invert(100%) sepia(0%);
}

.title-bar {
    background-color: $primary-color;
    color: $primary-font-color;
}

.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    top: 0;
    left: 0;
    z-index: 5;
}

.search-form {
    height: 59px;
    margin-top: 20px;
    width: 50%;
}

.title-route {
    font-size: 48px;
    font-weight: 300;
}

.title-selection {
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;
    width: 100%
}

.top-title-selection {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.title-selection-item {
    color: white !important;
    font-size: 20pt;
    width: 100%;
}

.left-selection-item {
    cursor: pointer;
    justify-content: left;
}

.right-selection-item {
    justify-content: right;
}

// .title-bar {
//   color: lightblue;
// }

// mat-grid-list {
//   color: white;
//   background-color: rgb(118, 205, 235);
// }

// .website-icon {
//   font-size: 20px;
// }