<mat-toolbar class="title-bar">
    <mat-toolbar-row class="top-title-selection">
        <div class="left-selection-item" [routerLink]="['/dashboard']">
            <img class="title-image" src="assets/logo.svg"/>
            <span class="title-route genos">{{ title }}</span>
        </div>
        <div class="search-form">
            <input type="text" class="round" placeholder="(Zip/Location)">
        </div>
        <mat-icon class="right-selection-item">menu</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row class="title-selection fira-code title-coloring">
        <button mat-button id="title-today" [routerLink]="['/daily']" [ngClass]="{'selected-title': currentRoute === 'daily'}"  (click)='setCurrentRoute("daily")'  class="title-selection-item">Today</button>
        <button mat-button id="title-hourly" [routerLink]="['/hourly']" [ngClass]="{'selected-title': currentRoute === 'hourly'}" (click)='setCurrentRoute("hourly")' class="title-selection-item">Hourly</button>
        <button mat-button id="title-weekly" [ngClass]="{'selected-title': currentRoute === 'weekly'}" (click)='setCurrentRoute("weekly")' class="title-selection-item">Weekly</button>
        <button mat-button id="title-monthly" [routerLink]="['/monthly']" [ngClass]="{'selected-title': currentRoute === 'monthly'}" (click)='setCurrentRoute("monthly")'class="title-selection-item">Monthly</button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
