@import "../../../styles.scss";

::ng-deep .humidity {
  color: $accent-color
}

mat-card {
  border-radius: 20px;
}

::ng-deep .mat-mdc-card-header-text {
  width: 100%;
}

.today-header {
  width: 100%;
  background-color: $highlight-color;
  border-radius: 20px 20px 0px 0px !important;
  padding: 0px !important;
  height: 64px;
  font-size: xx-large;
}

#location {
  margin-left: 20px;
  margin-top: 35px;
}

.today-card-body {
  background-color: $secondary-color;
  padding-top: 25px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 25px;
}

.temperature {
  font-size: xxx-large;
  padding-top:25px;
  padding-bottom: 25px;
  padding-left: 15px;
}

.forecast {
  font-size: x-large;
  padding-left: 15px;
}

.today-card-right {
  text-align:right;
  border: 1px;
  height: 100%;
  width: 70%;
  font-size: 107pt;
  margin-right: 95px;
  color: black;
}

.weekly-table {
  width: 70%;
  border-radius: 20px;
}

.weekly-wrapper {
  display:flex;
  justify-content: center;
  margin: 15px;
}

.weekly-title {
  font-family: "Heebo", sans-serif !important;
  font-size: xx-large;
  font-weight: 600;
}

.date-title {
  font-family: "Heebo", sans-serif !important;
  font-size: large;
  font-weight: 500;
}

.table-content {
  box-shadow: none;
}