

@if(afternoonWeatherAverage) {
  <div class="daily-weather-wrapper">
    <div class ="daily-weather-container">
      <mat-card id="daily-overall-weather">
        <mat-card-header class="daily-overall-header">
          <span id="location">{{ location }}</span> 
        </mat-card-header>
        <div class="daily-card-body">
          <div class="daily-card-left">
            <div class="temperature">
              {{ averageWeather.temperature }}°
            </div>
            <div class="forecast">
              {{ averageWeather.shortForecast }}
            </div>
            <div class="day-night">
              Day {{ dayAverage }}° - Night {{ nightAverage }}°
            </div>
          </div>
          <span class="daily-card-right material-symbols-outlined">{{ averageWeather.icon }}</span>
        </div>
      </mat-card>
      <mat-card id="daily-quarterly-weather">
        <div class="quarterly-title">Today's Forecast for {{ location }}</div>
        
        <div class="quarterly-card-body">
          <div class="quarterly-section">
            <div class="quarterly-name">Morning</div>
            <div class="quarterly-icon" > <span class="quarterly-icon-mat material-symbols-outlined">{{ morningWeatherAverage.icon }}</span> </div>
            <div class="quarterly-humidity" > @if (morningWeatherAverage.relativeHumidity!.value > 0.5) { <span class="material-symbols-outlined humidity">humidity_high</span> }{{ morningWeatherAverage.relativeHumidity!.value }}% </div>
          </div>
          <mat-divider [vertical]="true"></mat-divider>

          <div class="quarterly-section">
            <div class="quarterly-name">Afternoon</div>
            <div class="quarterly-icon" > <span class="quarterly-icon-mat material-symbols-outlined">{{ afternoonWeatherAverage.icon }}</span>  </div>
            <div class="quarterly-humidity" > @if (afternoonWeatherAverage.relativeHumidity!.value > 0.5) { <span class="material-symbols-outlined humidity">humidity_high</span> }{{ afternoonWeatherAverage.relativeHumidity!.value }}% </div>
          </div>
          <mat-divider [vertical]="true"></mat-divider>

          <div class="quarterly-section">
            <div class="quarterly-name">Evening</div>
            <div class="quarterly-icon" > <span class="quarterly-icon-mat material-symbols-outlined">{{ eveningWeatherAverage.icon }}</span>  </div>
            <div class="quarterly-humidity" > @if (eveningWeatherAverage.relativeHumidity!.value > 0.5) { <span class="material-symbols-outlined humidity">humidity_high</span> }{{ eveningWeatherAverage.relativeHumidity!.value }}% </div>
          </div>
          <mat-divider [vertical]="true"></mat-divider>

          <div class="quarterly-section">
            <div class="quarterly-name">Overnight</div>
            <div class="quarterly-icon" > <span class="quarterly-icon-mat material-symbols-outlined">{{ overnightWeatherAverage.icon }}</span> </div>
            <div class="quarterly-humidity" > @if (overnightWeatherAverage.relativeHumidity!.value > 0.5) { <span class="material-symbols-outlined humidity">humidity_high</span> } {{ overnightWeatherAverage.relativeHumidity!.value }}% </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
}
